"*":
  welcome:
    showOnStartup: false
  editor:
    invisibles: {}
    showIndentGuide: true
    tabType: "soft"
    lineHeight: 1.2
    fontSize: 13
    fontFamily: "D2Coding"
    softWrapAtPreferredLineLength: true
    showInvisibles: true
    scrollPastEnd: true
  core:
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
    packagesWithKeymapsDisabled: [
      "rst-preview-pandoc"
    ]
  "markdown-writer":
    fileExtension: ".md"
  "markdown-preview":
    useGitHubStyle: true
    liveUpdate: false
  marked: {}
  "file-icons":
    onChanges: true
    coloured: false
    forceShow: true
  "git-plus": {}
  "atom-alignment": {}
  minimap: {}
  linter:
    errorPanelHeight: 22
    showErrorPanel: false
  "linter-eslint":
    globalNodePath: "/opt/homebrew"
    useGlobalEslint: true
  "autocomplete-plus": {}
  "toggle-quotes": {}
  "node-debugger":
    nodePath: "/opt/homebrew/bin/node"
  "rst-preview-pandoc":
    pandocOpts: "-fmarkdown_github -thtml --webtex"
    liveUpdate: false
